img {
    width: 110px;
}

html body {
    background-color: grey;
}

.navbar {
    background-color: white;
}

.nadpis h1 {
    color: #7FFF00;
    font-size: 90px;
    text-align: center;
    font-family: 'JetBrains Mono';
}

.nadpis img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border-radius: 30px 30px 30px 30px;
}

.nadpis .oc1 p {
    text-align: center;
    color: white;
    font-family: 'JetBrains Mono';
    font-size: 30px;
}